rules:
    # mocking
    - Rector\Mockstan\Rules\NoMockOnlyTestRule

    # better alternative than mocks
    - Rector\Mockstan\Rules\NoDocumentMockingRule
    - Rector\Mockstan\Rules\NoEntityMockingRule
    - Rector\Mockstan\Rules\NoMockObjectAndRealObjectPropertyRule
