rules:
    # mocking
    - Rector\Mockstan\Rules\NoMockOnlyTestRule
    - Rector\Mockstan\Rules\NoMockObjectAndRealObjectPropertyRule

    # overly complicated
    - Rector\Mockstan\Rules\NoDoubleConsecutiveTestMockRule

    # explicit expects()
    - Rector\Mockstan\Rules\ExplicitExpectsMockMethodRule
    - Rector\Mockstan\Rules\AvoidAnyExpectsRule

    # better alternative than mocks
    - Rector\Mockstan\Rules\NoDocumentMockingRule
    - Rector\Mockstan\Rules\NoEntityMockingRule
    - Rector\Mockstan\Rules\ForbiddenClassToMockRule
