name: Bare Run on various PHP versions

on:
    push:
        branches:
            - main

jobs:
    bare_run:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                php_version: ['7.4', '8.2']

        steps:
            -   uses: actions/checkout@v3

            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php_version }}
                    coverage: none

            -   run: mkdir nested-dir

            -   run: composer require rector/mockstan --dev --ansi
                working-directory: nested-dir
